{ 
  "extends": "airbnb",
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "indent": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": "off",
    "function-paren-newline": "off"
  }
}